<!DOCTYPE html>
<html>
  <head>
    <title>Burning Airlines</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <h1 >Burning Airlines <i class="fa fa-plane"></i><i class="fa fa-fire"></i></h1>
      <nav class="main-nav">
        <ul>
        <%== nav_menu %>
        </ul>
      </nav>
    </header>

  <%= yield %>

  </body>
</html>
